[submodule "soil"]
	path = soil
	url = https://github.com/kbranigan/Simple-OpenGL-Image-Library.git
[submodule "mathspot"]
	path = mathspot
	url = https://github.com/Fahien/mathspot.git
[submodule "pyspot"]
	path = pyspot
	url = https://github.com/Fahien/pyspot.git
[submodule "dataspot"]
	path = dataspot
	url = https://github.com/Fahien/dataspot.git
