.vscode
build
data
doc
include/sunspot/android/python2.7
include/GL
include/GLFW
include/nlohmann
lib
project
script
output.dat
.ycm_extra_conf.pyc
.pyc
*.data
.gradle
.externalNativeBuild
.idea
gradle
android/app/src/main/assets
stdlib.zip
app.iml
test/model
